@charset "UTF-8";
/* bx slider */
.bx-wrapper {
    -moz-box-shadow:0 none;
    -webkit-box-shadow:0 none;
    box-shadow:0 none;/* 테두리-없애기 */
    border: 0 none;/* 테두리-없애기 */
    margin-bottom: 0;/* 테두리-없애기 */
}

.mB_0 {
    margin-bottom:0;
}


body{    
    font-family: 'Noto Sans KR', sans-serif;
    background:url(../images/background.jpg) no-repeat center;  
    background-size: cover;}

/* header */
#header {
    margin-bottom:55px;
}
/* header Top */
.topWrap {width:100%; height:90px;
   background:url(../images/top_background.jpg) no-repeat center #0E73A7;}

.topWrap .top {
    width:980px;  height:90px; margin:0 auto;
    display:flex; justify-content:space-between; align-items:center;}

.topWrap .top .logo {width:150px; height: 40px; text-indent:-9999px;}

.topWrap .top .logo  a {display:block; 
    background: url(../images/logo.png) no-repeat center;}
    
.topWrap .top .search {width:290px; height:30px;position: relative;}

input[type="text"]:focus { outline:none; }
.searchInp {
    width:290px; height:30px;
    background: #fff;
    border-radius:30px;
    font-size:12px;
    text-indent:90px;
    border:0 none;
}
.searchIcon {
    display: block;
    position: absolute; top: 50%; left:10px;
    transform: translateY(-50%);
    width: 60px; height: 20px;
    background:url(../images/search_icon.png);
    text-indent:-9999px;
}
.searchBtn {
    position: absolute; right: 10px; top: 50%;
    transform: translateY(-50%);
    width: 20px; height: 20px;
    background: url(../images/search.png) no-repeat center;
    text-indent:-9999px;
    border:0 none;
}

.topWrap .top .snsMenu { width:344px; height:24px; display: flex;}
.topWrap .top .snsMenu .tel {
    width: 230px; height: 24px;
    color:white; font-size:27px; font-weight:600; letter-spacing:-1px;
    display:flex; align-items: center;
}
.topWrap .top .snsMenu .snsIcon {
    width:114px; height: 24px;
    display:flex; justify-content: space-between;
}
.topWrap .top .snsMenu .snsIcon div {width: 24px; height:24px; cursor: pointer;}
.topWrap .top .snsMenu .snsIcon div:nth-child(1) { 
    background:#1877F2 url(../images/icon01.png) no-repeat center; }
.topWrap .top .snsMenu .snsIcon div:nth-child(2) { 
    background:#1DA1F2 url(../images/icon02.png) no-repeat center; }
.topWrap .top .snsMenu .snsIcon div:nth-child(3) { 
    background:#4FBA26 url(../images/icon03.png) no-repeat center; }
.topWrap .top .snsMenu .snsIcon div:nth-child(4) { 
    background:#FF7510 url(../images/icon04.png) no-repeat center; }

/* header gnbWrap */
.gnbWrap {
    width:100%; height:65px;
    background-color:white;
    border-bottom:5px solid #0E73A7;  
 }
 .gnbWrap .gnb {
    width:980px; height:65px;
    margin:0 auto;
    border-bottom:5px solid #0E73A7;  
    display: flex; justify-content: space-between;
 }
.gnbWrap .gnb li {
    width:calc( 100% / 6 );
}
.gnbWrap .gnb li a {
    display:block;
    width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
    font-size:18px; color:#14252d;
    border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6;
}
.gnbWrap .gnb li a:hover {
    background-color:#0E73A7 ;
    color:white;
    border:0 none;
}



/* 컨텐츠 */
#section {
    width: 980px;
    margin: 0 auto;
    position: relative;}

/* 풍선부분 */
#section .balloon img{
    display: block;
    width: 750px; height: 533px;
    position: absolute; left: 30%; top: 10%;
}
#section .titleTxt{
    display: block;
    color: #162530;
    position: absolute; left:53%; top:0;}
#section .titleTxt h3{font-size: 70px;}
#section .titleTxt p{font-size: 33px; font-weight: 400;}

/* Container1 */
#section .container01 {
    width:100%; height:556px;
    margin-bottom: 16px;}

/* container1 left */
.container1 .container1Wrap {
    width:482px; height:556px;
    margin-right:16px;
    float: left;
    position: relative;} 

.container1 .container1Wrap .reservation {width:100%; height:300px;}
.reservation  div .content {
    width: 346px; height:300px;
    margin-left:130px;
    padding: 18px 35px;}

.blind { 
    display: block;
    position: absolute;left: 0;top: -999px;}

.form { width:346px; }
.form fieldset { border: 0; margin-bottom:30px;}
.form fieldset ul .selWrap label { 
    display: block;
    padding:5px 0; 
    font-size:0.9rem;}

.form fieldset ul li {width: 286px; margin-bottom:14px;}
.form fieldset ul .selWrap select{
    width: 282px;height:30px;
    border-radius:5px;text-indent:10px;
   color:#141414; font-size:0.9rem;}

.form fieldset ul .dayWrap .left {
    float:left;
    width:130px;
    margin-right:10px;}
.form fieldset ul .dayWrap .right {float:left; width:130px;}

.form fieldset ul .dayWrap .right label,
.form fieldset ul .dayWrap .left label{
    color:#141414; font-size:0.9rem;
    margin-bottom:10px;}

.form fieldset ul .dayWrap .left input {
    width:134px; height:30px;
    color:#141414; font-size:0.9rem; text-indent:10px;
    border-radius:5px;}

.form fieldset ul .dayWrap .right input {
    width:134px; height:30px;
    color:#141414; font-size:0.9rem; text-indent:10px;
    border-radius:5px;}
.form fieldset ul .gradeWrap > .left {
    float:left;
    width:188px; height:30px;
    margin-right:10px;}

.form fieldset ul .gradeWrap .left label,
.form fieldset ul .gradeWrap .right label {
    color:#141414; font-size:0.9rem;}

.form fieldset ul .gradeWrap .left select {
    width:188px; height: 30px;
    border-radius: 5px;
    color:#141414; font-size:0.9rem; text-indent:10px;}

.form fieldset ul .gradeWrap .right {
    float:left;width:80px; height: 30px;}

.form fieldset ul .gradeWrap > .right > input {
    float:left;
    width:80px; height: 30px;
    color:#141414; font-size:0.9rem; text-indent:10px;
    border-radius: 5px;}

input[type="date"]::-webkit-calendar-picker-indicator {

    background: url(../images/search.png) no-repeat;
    width: 20px;
    height: 20px;
    cursor:pointer

}

.reservationBtn {
    width: 284px; height: 40px;
    border-radius:5px;
    background-color: #ff7510;
    border:0;
    font-size:1rem; font-weight:600;
    cursor: pointer;}

.rMenu {
    width: 130px; height: 300px;
    position: absolute; left: 0; top: 0;
    border:0 none;}

.rMenu li a {
    display: block;
    width:130px; height:75px;
    background-color:#0E73A7;
    color:white;
    padding-left:12px;
    line-height:75px;}

.rMenu li:last-child a {border:0 none;}
.rMenu .iconTxt {display: flex; align-items: center;}
.rMenu li a span {
    display:inline-block;
    width: 34px; height: 34px;
    margin-right:10px;}

.rMenu li:nth-child(1) a span {
    background:url(../images/airplane01.png) no-repeat center;}
.rMenu li:nth-child(2) a span {
    background:url(../images/hotel01.png) no-repeat center;}
.rMenu li:nth-child(3) a span {
    background:url(../images/car01.png) no-repeat center;}
.rMenu li:nth-child(4) a span {
    background:url(../images/Holiday01.png) no-repeat center;}

.rMenu .bx-wrapper .bx-pager.bx-default-pager a {
    background-color:#fff; color:black; }



/* 예약 창 클릭했을 때 (아이콘 색 변경 된거)*/
.rMenu li a.active {background-color:#fff; color:black;}
.rMenu li:nth-child(1) a.active  span {
    background:url(../images/airplane02.png) no-repeat center;}
.rMenu li:nth-child(2) a.active  span {
    background:url(../images/hotel02.png) no-repeat center;}
.rMenu li:nth-child(3) a.active  span {
    background:url(../images/car02.png) no-repeat center;}
.rMenu li:nth-child(4) a.active  span {
    background:url(../images/Holiday02.png) no-repeat center;}



/* section container1 bestBox */
.container1 .container1Wrap .bestBox {
    padding-top:16px;
    width: 100%; height: 240px;
}
.container1 .container1Wrap .bestBox ul li {
    float:left;
    width:233px; height: 240px;
    margin-right:16px; 
    margin-bottom: 16px;
    background-color:green;
}

/* bestBox fance */
.container1 .container1Wrap .bestBox ul li:nth-child(1) {
    background-image: url(../images/france.png);}
.container1 .container1Wrap .bestBox ul li:nth-child(1) .fanceTxt{
    width: 233px; height: 50px;
	background-color: #152630;
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    cursor: pointer;}
.container1 .container1Wrap .bestBox ul li:nth-child(1) span{
    color: #62B05D; 
    padding: 0 14px 0 20px;}

  /* bestBox england */
.container1 .container1Wrap .bestBox ul li:nth-child(2) {
    background-image: url(../images/england.png);
    margin-right:0px;}
.container1 .container1Wrap .bestBox ul li:nth-child(2) .englandTxt{
    width: 233px; height: 50px;
	background-color: #152630;
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    cursor: pointer;}
.container1 .container1Wrap .bestBox ul li:nth-child(2) span{
    color: #62B05D; 
    padding: 0 14px 0 20px;}




/*container2 */
#section .container2 {
    width:100%; height: 240px;
    padding-top: 16px;
    margin-bottom: 16px;
    position: relative;

}
#section .container2 li {
    float:left;
    width:233px; height: 240px;
    margin-right:16px;
    background-color:purple;
}
#section .container2 li:last-child {
    margin-right:0px;
}
/* container2 li(1) */
#section .container2 li:nth-child(1) .text01{    
    width: 233px;height: 65px;
    background: #62B05D;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    bottom: -16px;
    padding: 12px;
    text-indent: 10px;
    line-height: 20px;}
#section .container2 li:nth-child(1) .name{}
#section .container2 li:nth-child(1) span{color: #E2A201;}

/* container2 li(2) */
#section .container2 li:nth-child(2) .text01{    
    width: 233px;height: 65px;
    background: #152630;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    bottom: -16px;
    padding: 12px;
    text-indent: 10px;
    line-height: 20px;
    }
#section .container2 li:nth-child(2) .name{}
#section .container2 li:nth-child(2) span{color: #E2A201;}

/* container2 li(3) */
#section .container2 li:nth-child(3) .text03{    
    width: 233px;height: 65px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    bottom: -16px;
    padding: 12px;
    text-indent: 10px;
    line-height: 20px;}
#section .container2 li:nth-child(3) .name{font-size:16px;}
#section .container2 li:nth-child(3) span{font-size: 18px;}
#section .container2 li:nth-child(3) .sName{font-size: 13px;}

/* container2 li(4) */
#section .container2 li:nth-child(4) .text04{    
    width: 233px;height: 65px;
    background: #44619D;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    bottom: -16px;
    padding: 12px;
    text-indent: 10px;
    line-height: 20px;}
#section .container2 li:nth-child(4) .sName{font-size: 13px;}

/* container3 */
.container3 {
    width:100%; height: 240px;
    padding-top: 16px;
    margin-bottom:16px;
    position: relative;}
.container3 li {
    float:left;
    width:233px; height: 240px;
    margin-right:16px;
    background-color:purple;}
.container3 li:last-child {margin-right:0px;}
.container3 li img{width: 233px;height: 240px; position: absolute;}

.infoBtn {
    display:block;
    position:relative;
    width:233px; height:240px;
    cursor:pointer;
    position: relative;
    overflow: hidden;}
/* li(1) 파란배경 */
.infoBgc1{
    width:100%; height:100%; 
    background:#00c8d3;
    opacity: 30%;
    transition:0.4s}
/* li(2,3) 검정배경 */
.infoBgc{
    width:100%; height:100%; 
    background:rgba(0, 0, 0, 0.5);
    transition:0.4s}
/* li(4) 초록배경*/
.infoBgc4{
    width:100%; height:100%; 
    background:#00a35f;
    opacity: 30%;
    transition:0.4s}

.infoText {
    width:100%; height:100px;
    color: #fff; 
    font-size:20px; 
    padding-top:35px; line-height:24px; text-align: center;
    position: absolute; left:0; top:0;}
.infoText span {font-size:14px;}
.infoText .infoTxtSub { color:#fff; font-size:12px; text-align: center; }
.infoMore {
    width:25px; height:25px;
    position:absolute; left:50%;top:50%;
    transform:translate(-50%,-50%);
    border:2px solid #fff; border-radius:50%;
    transition:0.3s;}
.infoMore .bar2,
.infoMore .bar1 {
    width:10px;height:2px;
    background: #fff;
    position:absolute; left: 50%;top: 50%;
    transform:translate(-50%,-50%);
    border-radius:1px;}
.infoMore .bar1 {transform:translate(-50%,-50%) rotate(90deg)}
.infoSub {
    width: 100%;
    color:#fff; font-size:12px;
    position: absolute; left:0; top:0;
    padding-top:65px;
    text-align: center;
    transition: all ease 1s 0s;
    opacity:0;}

/*container3 마우스 올렸을 때 */
.infoBtn:hover .infoBgc1 {    
    background:#00c8d3;
    opacity: 60%;}
.infoBtn:hover .infoBgc4 {    
    background:#00a35f;
    opacity: 60%;}
.infoBtn:hover .infoBgc {background:rgba(0, 0, 0, 0.8)}
.infoBtn:hover .infoMore { transform:translate(-50%,-50%) rotate(90deg); }
.infoBtn:hover .infoSub { opacity:1; }


/* footer */
#footer {
    width: 980px;
    margin:0 auto;
    padding-top:40px; padding-bottom:40px;
}
#footer .lnb {
    margin-bottom:5px;
}
#footer .lnb ul {
    display: flex;
}
#footer .lnb ul li a {
    display: block;
    padding-left:20px;
    color:#303339; font-size:16px;  
    transition:0.3s;  
}
#footer .lnb ul li:first-child a { padding-left:0; }
#footer .lnb ul li a:hover { color:#000; }
#footer address {
    color:#7b7b7b; font-size:12PX; font-style: normal;
}





/* sub common  */
.subContent .subImg{
    height: 400px;
    display: flex;justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subContent .subImgTitle{text-align: center;transform:translateY(-30px)}
.subContent .subImgTitle h3{font-size: 2em;text-shadow: 0 0 10px #fff;}
.subContent .subImgTitle p{text-shadow: 0 0 10px #fff;}
.subContent .subImgTitle h3:after{
    content:"";display: block;
    width: 80%;height: 2px;background: #000;
    margin: 10px auto;
}
.subContent .container{width: 980px;margin: 0 auto;padding: 30px 0;}
.subContent .container img{display: block;margin: 0 auto}
.subContent .location{width: 860px;margin: 0 auto;font-size:14px;margin-bottom: 16px;}



 /* sub01  */
 .subContent.cityTour .subImg{
    background-image: url(../images/subimg01.jpg);
    top: 0;}

.subContent.cityTour .container{
    border: 1px solid #999;
    border-top: 5px solid #0664A1;
    border-bottom: 5px solid #0664A1;
    position: relative;top:-50px;
    background: #fff;
}
 /* sub02  */
 .subContent.hotel .subImg{
    background-image: url(../images/subimg02.jpg);
    top: 0;
}

.subContent.hotel .container{
    border: 1px solid #999;
    border-top: 5px solid #0664A1;
    border-bottom: 5px solid #0664A1;
    position: relative;top:-50px;
    background: #fff;
}
 /* sub03 */
 .subContent.car .subImg{
    background-image: url(../images/subimg03.jpg);
    top: 0;
}

.subContent.car .container{
    border: 1px solid #999;
    border-top: 5px solid #0664A1;
    border-bottom: 5px solid #0664A1;
    position: relative;top:-50px;
    background: #fff;
}
 /* sub04  */
 .subContent.TIP .subImg{
    background-image: url(../images/subimg04.jpg);
    top: 0;
}

.subContent.TIP .container{
    border: 1px solid #999;
    border-top: 5px solid #0664A1;
    border-bottom: 5px solid #0664A1;
    position: relative;top:-50px;
    background: #fff;
}
 /* sub05  */
 .subContent.community .subImg{
    background-image: url(../images/subimg05.jpg);
    top: 0;
}

.subContent.community .container{
    border: 1px solid #999;
    border-top: 5px solid #0664A1;
    border-bottom: 5px solid #0664A1;
    position: relative;top:-50px;
    background: #fff;
}



/* sub06  */
body.sub{background: #a9d7f3;}
.subContent.company .subImg{
    background-image: url(../images/subimg06.jpg);
    
    
}
.subContent.company .container{
    border: 1px solid #999;
    border-top: 5px solid #0664A1;
    border-bottom: 5px solid #0664A1;
    position: relative;top:-50px;
    background: #fff;
}



