@charset "UTF-8";

/* header 영역 */
#header {
    margin-bottom:55px;
}
/* header>top 영역 */
.topWrap {
   width:100%; height:90px;
   background:url(../img/top_background.jpg) no-repeat center #0c71a7;  
}
.topWrap .top {
    width:980px;  height:90px;
    margin:0 auto;
    display:flex; justify-content:space-between; align-items:center;
}
.topWrap .top .logo {
    width:150px; height: 40px;
}
.topWrap .top .logo  { text-indent:-9999px; }
.topWrap .top .logo  a {
    display:block;
    background: url(../img/logo.png) no-repeat center;
}
.topWrap .top .search {
    width:290px; height:30px;
    background-color:white;
    border-radius:30px;
}
.topWrap .top .snsMenu {
    width:344px; height:24px;
    display: flex;
}
.topWrap .top .snsMenu .tel {
    width: 230px; height: 24px;
    color:white; font-size:27px; font-weight:600; letter-spacing:-1px;
    display:flex; align-items: center;
}
.topWrap .top .snsMenu .snsIcon {
    width:114px; height: 24px;
    display:flex; justify-content: space-between;
}
.topWrap .top .snsMenu .snsIcon div {
    width: 24px; height:24px;
}
.topWrap .top .snsMenu .snsIcon div:nth-child(1) { 
    background:#ebf1ff url(../img/sns_01.png) no-repeat center; 
}
.topWrap .top .snsMenu .snsIcon div:nth-child(2) { 
    background:#32ccff url(../img/sns_02.png) no-repeat center; 
}
.topWrap .top .snsMenu .snsIcon div:nth-child(3) { 
    background:#4cb922 url(../img/sns_03.png) no-repeat center;  
}
.topWrap .top .snsMenu .snsIcon div:nth-child(4) { 
    background:#ff7510 url(../img/sns_04.png) no-repeat center;  
}

/* header>GNB 영역 */
.gnbWrap {
    width:100%; height:65px;
    background-color:white;
    border-bottom:5px solid #0e73a7;  
 }
 .gnbWrap .gnb {
    width:980px; height:65px;
    background-color:#e2e5e7;
    margin:0 auto;
    border-bottom:5px solid #0e73a7;  
 }

/* section 영역 */
#section {
    width:980px;
    margin:0 auto;   
}
/* section>container1 영역 */
#section .container1 {
    width:100%; height: 556px;
    margin-bottom:16px;
}
/* section>container1>left 영역 */
.container1 .left {
    width: 482px; height: 556px;
    margin-right:16px;
    float: left;
} 
/* section>container1>left>예약 영역 */
.container1 .left .reservation {
    width: 100%; height: 300px;
    background-color: darkgreen;
    margin-bottom:16px;
}
/* section>container1>left>배스트 상품 영역 */
.container1 .left .bestProduct {
    width: 100%; height: 240px;
    margin-bottom:16px;
}
.container1 .left .bestProduct ul li{
    float:left;
    width:233px; height: 240px;
    margin-right:16px;
    background-color:darkmagenta;
}
.container1 .left .bestProduct ul li:last-child{
    margin-right:0px;
}
/* section>container1>배너 영역 */
.container1 .banner {
    width: 482px; height: 556px;
    background-color: crimson;
    float: left;
}

/* section>container2영역 */
#section .container2 {
    width:100%; height: 240px;
    margin-bottom:16px;
}
#section .container2 ul li {
    float:left;
    width:233px; height:240px; 
    margin-right:16px;
    background-color: chocolate;
}
#section .container2 ul li:last-child {
    margin-right:0px;
}
/* section>container3 영역 */
#section .container3 {
    width:100%; height:240px;
}
#section .container3 ul li {
    float:left;
    width:233px; height:240px; 
    margin-right:16px;
    background-color:orange;
}
#section .container3 ul li:last-child {
    margin-right:0px;
}

/* footer 영역 */
#footer {
    width: 980px; height: 113px;
    background-color: black;
    margin:0 auto;
}
