@charset "utf-8";
html,body{height: 100%;}

#header_top .logo{background: red;height: 50px;padding: 0 10px;}






@media screen and ( min-width:700px ){
    #main_header{height: 1950px;background: #ddd;}

    #header_top{
        width: 1240px;background: pink;
        position: fixed;left:50%;transform: translateX(-50%);top:20px;
        display: flex;justify-content: space-between;align-items:center
    }
    
    #header_top .gnb{background: skyblue;}
    #header_top .gnb li{float: left;}
    #header_top .gnb li>a{display: block;line-height: 50px;text-align: center;padding:0 30px}
    .toggle{display: none;}
    
} /* pc media */


@media screen and ( max-width:699px ){
    #main_header{background: #ddd;}

    #header_top{
        background: pink;padding: 0 16px;
        position: fixed;width: 100%;
        display: flex;justify-content: space-between;align-items:center
    }
    
    #header_top .gnb{display: none;}
    
    .toggle{display: block;}
    .toggle{width: 40px;height: 40px;background: #000;position: relative;}
    .toggle div{
        position: absolute;width: 25px;height: 3px;background: white;
        left: 50%;top:50%;transform: translate(-50%,-50%);
    }
    .toggle .bar1{top:10px}
    .toggle .bar3{top:30px}
    
}/* mobile media */