@charset "UTF-8";

/* body{
    background-image: url(../images/bg01.png);
    background-repeat: no-repeat;
} */
/* 상단 메뉴바  */
#header .topMenuWrap{
    height: 40px;
    background-color:#0044AF;
}
#header .topMenuWrap .topBar{
    position:relative;
    width:1200px; height:40px;
    margin:0 auto;
}

/* 상단 메뉴바 왼쪽 */


#header .topMenuWrap .topBar .menuL ul li{    
    float:left; margin: 0 auto; 
    border-left: 1px solid #0044AF;
}

#header .topMenuWrap .topBar .menuL ul li a{
    display:block;
    width:120px; height:40px;
    color:#fff; font-size:16px;
    display:flex; justify-content:center; align-items: center;
    background-color:#00163B;
}

#header .topMenuWrap .topBar .menuL ul li:hover a{
    color:#636363;
    background-color:#fff;
}

/* 상단 메뉴바 오른쪽 */

#header .topMenuWrap .topBar .menuR{ 
    position:absolute; right:0; top:0; 
}
#header .topMenuWrap .topBar .menuR ul li{ 
    float:left; 
    height:40px;
    padding-left:15px; 
    display:flex; justify-content:center; align-items:center;
    color:#fff; font-size:12px;  
}
#header .topMenuWrap .topBar .menuR ul li  a{ 
    display: block;
    color:#fff; font-size:12px;
}


/* 메뉴 */

#header .gnbWrap {
    width:100%; height: 115px;
    background-color:#fff;
}
#header .gnbWrap .gnb {
    width:1200px; height:115px;
    margin:0 auto;
}
#header .gnbWrap .gnb .logo {  
    float:left;
    background: url(../images/Top_logo.png); background-repeat: no-repeat; background-position:left;
}
#header .gnbWrap .gnb .logo a {
    display:block; 
    width:220px; height:115px;
}
#header .gnbWrap .gnb .menu {
    float:right;
}
#header .gnbWrap .gnb .menu ul li {
    float:left;    
}
#header .gnbWrap .gnb .menu ul li a {
    display:block;
    height:116px;
    padding-left:30px;
    font-size:20px; color:#595959; font-weight:500;
    display:flex; justify-content:center; align-items:center;
}
#header .gnbWrap .gnb .menu ul li a:hover {
    font-weight: bold;
}
