body{font-family: 'Noto Sans KR', sans-serif;}
:root{
    --primary-color1:#D7D2D4;
    --primary-color2:#514E55;
    --bg-color1:#efefef;
    --gradient-color:linear-gradient(90deg,#514E55,#D7D2D4);
    --box-shadow:0 0 15px rgba(0,0,0,0.5)}
li{list-style: none;}
ul{padding: 0;}
.headerWrap {transition:0.3s}
.headerWrap .nav-item{font-size: 1.2em;border-bottom: 4px solid transparent;padding:0 10px;transition:0.3s}
.headerWrap .nav-item:hover,.headerWrap .nav-item.active
{border-bottom: 4px solid var(--primary-color2);}
.headerWrap.fixed-top{box-shadow: 0 0 20px rgba(0,0,0,0.3);transition: 0.3s;}
        
.visualWrap video{width: 99vw; }

/* content 뒷 회색 배경 */
.content,.content02,.content04{background: var(--bg-color1);}


.btn.button-primary{background:var(--gradient-color);box-shadow:var(--box-shadow)}

/* service */



/* content02 */
.content02 .card{background: var(--bg-color1);border: 0 none;transition:0.3s}
.content02 .card:hover{box-shadow: var(--box-shadow);transform:scale(1.1)}
.content02 .card img{height: 350px;} 

/* content03 */
.content03 .container .video03 video{width: 52vw; margin-bottom: 50px;}

/* content04 */
.content04 .card{background: var(--bg-color1);border: 0 none;transition:0.3s}
.content04 .card:hover{box-shadow: var(--box-shadow);transform:scale(1.1)}
.content04 .card img{height: 250px;} 
/* content05 */
.content05{
    background: url(../images/content05_img.png) no-repeat center fixed;
    background-size: cover;
}

.footer .icon li+li{margin-left: 20px;}
.footer .icon a{
    display: block;width: 40px;height: 40px;
    background:var(--bg-color1);text-align: center;line-height: 35px;
    border-radius: 20px;}
        
.customer .item{border-radius:5px}
.footer .icon a:hover{box-shadow: var(--box-shadow);}
.footer .icon img{width: 15px;}



/* subpage */
.subpage{
    _background: skyblue;position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* subpage (buy) */
.subpage.buy{
    background-image: url(../images/buy_mainimg.png);
    height: 700px;
}
.buycontent02{
    background: url(../images/buy_content02.png) no-repeat center fixed;
    background-size: cover;
}

/* subpage (find) */
.subpage.find{
    background-image: url(../images/find_mainimg.png);
    height: 700px;
}

.findcontent .container01 .findcon {margin: 0 auto; }

.findcontent02{
    background: url(../images/content05_img.png) no-repeat center fixed;
    background-size: cover;
}
/* subpage (service) */



@media screen and (max-width:576px){
    .headerWrap .nav-item,.headerWrap .nav-item:hover{border-bottom: none;}
}